/* style.css */
body {
	font-family: Arial, sans-serif;
	display: flex;
	background-color: rgb(173, 173, 173);
	justify-content: space-between;
	margin: 0;
	text-align: center;
}

body>div {
	height: 100vh;
}
.panel {
	background-color: rgb(190, 225, 255);
	padding: 0 20px;
	width: 20vw;
}
.panel:first-of-type {
	border-right: 3px solid rgba(0, 0, 0, 0.5);
}

.panel:last-of-type {
	border-left: 3px solid rgba(0, 0, 0, 0.5);
}

#sortable {
    height: 50%; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
}

#sortable::-webkit-scrollbar {
    width: 20px; /* Adjust the width of the vertical scrollbar */
}

#sortable::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #f0f0f0;
	padding: 10px;
	margin: 5px;
	cursor: grab;
}

input[type="text"] {
	width: 10vw;
}

#nameBox {
	width: 50vw;
	height: 48vw;
	position: absolute;
	top: calc(50% - 25vw);
	left: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	touch-action: manipulation;
    pointer-events: auto;
}

.nameCard {
	position: absolute;
	transform-origin: center;
	padding: 18px;
	background-color: rgb(244, 243, 230);
	border: 1px solid black;
	border-radius: 10px;
	pointer-events: auto;
}

#recursive {
	width: 25px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="number"],#ruleType {
	width: 40%;
	font-size: 15px;
	padding: 5px;
}